[submodule "segTACO"]
	path = segTACO
	url = git@github.com:zhang677/segTACO.git
[submodule "segScan"]
	path = segScan
	url = git@github.com:zhang677/segScan.git
[submodule "taco"]
	path = taco
	url = git@github.com:zhang677/taco.git
	branch = parallelreduction
